* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #14800a;
  height: 100vh;
  display: grid;
  place-items: center;
}

.box {
  position: relative;
  width: 18em;
  height: 18em;
}

.box-tape,
.box-tape-left,
.box-tape-right,
.box-tape-center,
.box-gifts,
.box-gift-shadown,
.box-gift {
  position: absolute;
}

.box-tape-center, .box-tape-left, .box-tape-right {
  background-color: #cc2424;
}

.box-tape {
  animation: bTape 1.5s ease-in-out infinite;
  bottom: 11em;
  left: 7.5em;
  width: 3em;
  height: 2em;
  transform-origin: 50% 230%;
}

.box-tape-center {
  border-radius: 1em;
  width: 100%;
  height: 100%;
}

.box-tape-left,
.box-tape-right {
  box-shadow: 0 0 0 0.7em #ee2e2e inset;
  top: 0.3em;
  width: 4em;
  height: 5em;
  z-index: -1;
}

.box-tape-left::before,
.box-tape-right::before {
  background-color: #ee2e2e;
  border-radius: inherit;
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}

.box-tape-left {
  animation: bLeft ease-in-out infinite;
  border-radius:  1.5em 0 3em 1em / 1.5em 0 3em 3.5em;
  right: calc(100% - 0.75em);
  transform: rotate(35deg);
  transform-origin: 100% 15%;
}

.box-tape-left::before {
  clip-path:  polygon(0 42%, 100% 12%, 100% 100%, 0 100%);
}

.box-tape-right {
  animation: bRight ease-in-out infinite;
  border-radius: 0 1.5em 1em 3em / 0 1.5em 3.5em 3em;
  left: calc(100% - 0.75em);
  transform: rotate(-35deg);
  transform-origin: 0 15%;
}

.box-tape-right::before {
  clip-path:  polygon(0 12%, 100% 42%, 100% 100%, 0 100%);
}

.box-gifts,
.box-gift,
.box-gift-shadown {
  transform-origin: 50% 100%;
}

.box-gifts {
  animation:  box-Bounce 1.5s ease-in-out infinite;
  background: linear-gradient(#cc2424, #cc2424) 50% 50% / 3.3em 100% no-repeat #dfd9d9;
  border-radius: 1.5em;
  bottom:  0.5em;
  left: 3.3em;
  overflow: hidden;
  width: 11.4em;
  height: 9em;
}

.box-gift,
.box-gift-shadown {
  border-radius: 1em;
  width: 13em;
  height: 3.3em;
}

.box-gift {
  animation: box-Bounce2 1.5s ease-in-out infinite;
  background: linear-gradient(#ee2e2e, #ee2e2e) 50% 50% / 3.3em 100% no-repeat #efffee;
  bottom: 8.7em;
  left: 2.5em;
}

.box-gift-shadown {
  animation: boxShadowBounce 1.5s ease-in-out infinite;
  background-color: #00000010;
  top: -1.5em;
  left: -1em;
}